---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mi primera aplicación Astro</title>
  </head>
  <body>
    <a href="/">Principal</a>
    <a href="/about">Acerca de</a>
    <a href="/blog">Blog</a>
    <h1>Tutorial de Astro</h1>
    <h2>Esta es la página de Blog</h2>
    <p>Aquí van las entradas del blog</p>
  </body>
</html>
